body{
    background-color: rgb(213, 239, 230);
    font-family: "Sofia", sans-serif;
    color: darkgreen; 
}
a{
    color:blue;
    text-decoration: underline;
}
header{
    text-align: center;
}
h1{
    font-size: 22px;
    font-weight: bold;
}
.navigation{
    text-align: left;
    display: flex;
    gap: 20px;
    list-style: none;
}
.hamburger {
    display: none;
    font-size: 20px;
    background: none;
    border: 1px;
    cursor: pointer;
}
#About{
    width: 500px;
    padding: 5px 10px;
    margin: 15px auto;
}
h2{
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color:rgb(2, 62, 62);
}
.elements{

    margin:15px 15px;
    padding: 25px 25px;
    justify-content: center
   
   
}
#Connect{
    width: 300px;
    background-color: rgb(44, 205, 151);
    border: solid 1px teal;
    margin:15px auto;
    
}
#Connect ul{
    display:flex;
}

#Experience{
    background-color: rgb(196, 233, 220);
    margin: 15px auto;
    border: solid 1px rgb(1, 91, 91);
    padding: 15px;
}
.job {
    margin-bottom: 20px;
}
.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header h3 {
    margin: 0;
}
    
.logo{
    width: 17px;
    height: 17px;
}
.photo{
    width:120px;
     height:120px;
}

#skills {
    max-width: 1600px;
    margin: 15px auto;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    justify-content: center;
}
#skills li {
    background: rgb(143, 235, 242);
    padding: 10px 15px;
    border-radius: 1px;
}

[name="leave_message"]{
    width: 90%;
     padding: 20px;
     box-sizing: border-box;
     max-width: 500px;
     margin: 15px auto;
}
[name="leave_message"] input,
[name="leave_message"] textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

[name="leave_message"] button {
    padding: 12px 20px;
    cursor: pointer;
}
button {
    margin-left: 10px;
}
@media (max-width: 600px) {
    #skills ul {
        flex-direction: column;
    }
    
    [name="leave_message"]{
      width: 95%;
    }
    [name="leave_message"] input,
    [name="leave_message"] textarea,
    [name="leave_message"] button {
        font-size: 16px;
}
   .hamburger {
        display: block;
    }

    .nav {
        display: none;
        flex-direction: column;
    }

    .nav.show {
        display: flex;
    }
}
#Projects ul{
     display: flex;
     gap: 10px;
     margin: 20px;
    padding: 20px;
   
    
}
#Projects li{
    padding: 15px;
    border-radius: 10px;
    min-width: 120px;
    text-align: center;
}